.canvas{
    
}

.tester{
    background-color: rgb(185, 185, 185);
    /* display: grid;
    justify-content: center;
    grid-template-columns: 1fr/1fr/1fr;
    grid-template-rows: 1fr/1fr/1fr; */
    display: flex;
}

.controls{}

button{
    height: 100px;
}

.almost{
    border: 2px solid gold;
}
